<main>

  <h2>EDIT THIS User!</h2>



  <div id="edit-form" class="uu">

    <form action="/users/{{uu._id}}?_method=PATCH" method="POST">
      <div>
        <label for="name">name: </label>
        <input type="text" name="name" value="{{uu.name}}">
      </div>

      <div>
        <label for="image">img: </label>
        <input type="text" name='image' value="{{uu.image}}">
      </div>
      <a href='/users/{{uu._id}}'><button class='btn btn-primary' type="submit">Update User</button></a>
    </form>
    <a href="/users/{{uu._id}}"><button type="submit">Go back</button></a>

</main>